<div class="row">
    <div class="col-md-2">
        <div class="@(this.CurrentSection == "Pools" ? "active-section-marker" : "section-marker")">
            <h4 class="section-item" style="position: absolute;">Pools</h4>
        </div>
    </div>
    <div class="col-md-2">
        <div class="@(this.CurrentSection == "Options" ? "active-section-marker" : "section-marker")">
            <h4 class="section-item" style="position: absolute;">Options</h4>
        </div>
    </div>
    <div class="col-md-2">
        <div class="@(this.CurrentSection == "QoL" ? "active-section-marker" : "section-marker")">
            <h4 class="section-item" style="position: absolute;">Quality of Life</h4>
        </div>
    </div>
    <div class="col-md-2">
        <div class="@(this.CurrentSection == "Hints" ? "active-section-marker" : "section-marker")">
            <h4 class="section-item" style="position: absolute;">Hints</h4>
        </div>
    </div>
    <div class="col-md-2">
        <div class="@(this.CurrentSection == "Review" ? "active-section-marker" : "section-marker")">
            <h4 class="section-item" style="position: absolute;">Review</h4>
        </div>
    </div>
    <div class="col-md-2">
        <div>
            <h4 class="section-item" style="color: white;">Spoiler</h4>
        </div>
    </div>
</div>

@code {
    [Parameter] public string CurrentSection { get; set; }
}
