@using UE4DataTableInterpreter.Enums 

@inject RandomizerService RandomizerService

<h2><span class="selector" style="background-color: #ff4141;"></span>@this.ChrInitName</h2>

<Table Items="this.ChrInits" Context="ChrInit" CurrentPage="1">
    <TableHeader>
        <th>Player</th>
        <th>@(this.ChrInitName == "Weapons" ? "Weapon" : "Ability")</th>
        <th>Action</th>
    </TableHeader>
    <RowTemplate>
        <td>@ChrInit.Player.KeyIdToDisplay()</td>
        <td>@ChrInit.Value.ValueIdToDisplay()</td>
        @if (this.actionType == "Options")
        {
            <td><a href="#" @onclick="() => OpenModal(ChrInit)" @onclick:preventDefault>Change</a></td>
        }
        else if (this.actionType == "Modal")
        {
            <td><a href="#" @onclick="@(() => SwapOptions.Invoke(DataTableEnum.ChrInit, ChrInit.Player, ChrInit.Name, ChrInit.Value))" @onclick:preventDefault>Swap</a></td>
        }
    </RowTemplate>
</Table>

@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    [Parameter] public string ChrInitName { get; set; }

    [Parameter] public EventCallback<Dictionary<DataTableEnum, Dictionary<string, Dictionary<string, string>>>> UpdateRandomizedOptions { get; set; }
    [Parameter] public Action<Option, Option> UpdateModifications { get; set; }

    [Parameter] public Dictionary<string, Dictionary<string, bool>> AvailableOptions { get; set; }
    [Parameter] public Dictionary<DataTableEnum, Dictionary<string, Dictionary<string, string>>> RandomizedOptions { get; set; }

    [Parameter] public string ActionType { get; set; } = "Options"; // Options, Modal, Spoiler
    [Parameter] public string CurrentSeed { get; set; }


    [Parameter] public Action<DataTableEnum, string, string, string> SwapOptions { get; set; }

    private List<ChrInit> ChrInits { get; set; }
    private Dictionary<string, Dictionary<string, bool>> availableOptions = new();
    private Dictionary<DataTableEnum, Dictionary<string, Dictionary<string, string>>> randomizedOptions = new();
    private string actionType;
    private string currentSeed;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        if (parameters.TryGetValue<string>(nameof(this.ChrInitName), out var value) && parameters.TryGetValue<Dictionary<DataTableEnum, Dictionary<string, Dictionary<string, string>>>>(nameof(RandomizedOptions), out var options))
        {
            this.randomizedOptions = options;
            this.ChrInits = this.RandomizerService.GetAvailableChrInits(value, ref this.randomizedOptions);
        }

        if (parameters.TryGetValue<Dictionary<string, Dictionary<string, bool>>>(nameof(AvailableOptions), out var availableOptions))
        {
            this.availableOptions = availableOptions;
        }

        if (parameters.TryGetValue<string>(nameof(ActionType), out var actionType))
        {
            this.actionType = actionType;
        }

        if (parameters.TryGetValue<string>(nameof(CurrentSeed), out var currentSeed))
        {
            this.currentSeed = currentSeed;
        }

        await base.SetParametersAsync(parameters);
    }

    private void OpenModal(ChrInit chrInit)
    {
        var parameters = new ModalParameters();

        parameters.Add("Category", DataTableEnum.ChrInit);
        parameters.Add("SubCategory", chrInit.Player);
        parameters.Add("Name", chrInit.Name);
        parameters.Add("Value", chrInit.Value);
        parameters.Add("CurrentSeed", this.currentSeed);
        parameters.Add("ActionType", "Modal");

        parameters.Add("UpdateRandomizedOptions", this.UpdateRandomizedOptions);
        parameters.Add("UpdateModifications", this.UpdateModifications);

        parameters.Add("AvailableOptions", this.availableOptions);
        parameters.Add("RandomizedOptions", this.randomizedOptions);

        var options = new ModalOptions { Class = "modal-custom" };
        var displayValue = string.IsNullOrEmpty(chrInit.Value.ValueIdToDisplay()) ? "" : chrInit.Value.ValueIdToDisplay();

        Modal.Show<ChangeOption>($"Change {this.ChrInitName} {this.ChrInitName.KeyIdToDisplay()} - {displayValue}", parameters, options);
    }
}