@using UE4DataTableInterpreter.Enums

@inject RandomizerService RandomizerService

<h2><span class="selector" style="background-color: #00b0f8;"></span>@this.SoraName</h2>

@if (this.SoraName == "Level Ups")
{
    if (this.SwapOptions != null)
    {
        <SoraLevelUpSubComponent LevelUpName="@this.SoraName" RandomizedOptions="@this.RandomizedOptions" UpdateRandomizedOptions="@this.UpdateRandomizedOptions" UpdateModifications="@this.UpdateModifications"
                                 AvailableOptions="@this.AvailableOptions" ActionType="@this.ActionType" CurrentSeed="@this.CurrentSeed" SwapOptions="@this.SwapOptions"></SoraLevelUpSubComponent>
    }
    else
    {
        <SoraLevelUpSubComponent LevelUpName="@this.SoraName" RandomizedOptions="@this.RandomizedOptions" UpdateRandomizedOptions="@this.UpdateRandomizedOptions" UpdateModifications="@this.UpdateModifications"
                                 AvailableOptions="@this.AvailableOptions" ActionType="@this.ActionType" CurrentSeed="@this.CurrentSeed"></SoraLevelUpSubComponent>
    }
}
else
{
    if (this.SwapOptions != null)
    {
        <SoraChrInitSubComponent ChrInitName="@this.SoraName" RandomizedOptions="@this.RandomizedOptions" UpdateRandomizedOptions="@this.UpdateRandomizedOptions" UpdateModifications="@this.UpdateModifications"
                                 AvailableOptions="@this.AvailableOptions" ActionType="@this.ActionType" CurrentSeed="@this.CurrentSeed" SwapOptions="@this.SwapOptions"></SoraChrInitSubComponent>
    }
    else
    {
        <SoraChrInitSubComponent ChrInitName="@this.SoraName" RandomizedOptions="@this.RandomizedOptions" UpdateRandomizedOptions="@this.UpdateRandomizedOptions" UpdateModifications="@this.UpdateModifications"
                                 AvailableOptions="@this.AvailableOptions" ActionType="@this.ActionType" CurrentSeed="@this.CurrentSeed"></SoraChrInitSubComponent>
    }
}


@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    [Parameter] public string SoraName { get; set; }

    [Parameter] public EventCallback<Dictionary<DataTableEnum, Dictionary<string, Dictionary<string, string>>>> UpdateRandomizedOptions { get; set; }
    [Parameter] public Action<Option, Option> UpdateModifications { get; set; }

    [Parameter] public Dictionary<string, Dictionary<string, bool>> AvailableOptions { get; set; }
    [Parameter] public Dictionary<DataTableEnum, Dictionary<string, Dictionary<string, string>>> RandomizedOptions { get; set; }

    [Parameter] public string ActionType { get; set; } = "Options"; // Options, Modal, Spoiler
    [Parameter] public string CurrentSeed { get; set; }


    [Parameter] public Action<DataTableEnum, string, string, string> SwapOptions { get; set; }
}